.form{
  max-width: 400px;
  margin: 2%;
}

.search{
  background-color: rgb(206, 180, 248);
  padding: 2%;
}

.error{
  color:red;
}

.card{
  margin:1%;
  width: 600px;
}

.container{
  margin: 5px !important;
}